$borders: (
	header_border    : 1px solid #333,
	menu_item_bottom : 3px solid #333,
	instagram_aside  : 1rem solid transparent 
	);

$colors: (
	header : rgba(255,255,255,.2),
	main_banner : rgba(255,255,255,1),
	shows  : #999,
	nav_text : #444,
	event_text : #000,
	post_bg : rgba(255,255,255,.8),
	post_bg_hover : rgba(255,255,255,1),
	post_text: #000
	);

$fontsize: (
	h2 : 1.3rem,
	post_date : .8rem,
	post_title : 1.1rem
	);

@mixin section_head {
	width: 100%;
	height: 2rem;
	text-align: center;
	font-size: map-get($fontsize, 'h2');
	line-height: 2rem;
	margin-bottom: 1rem;
}

@mixin h2 {
	text-align: center;
	font-size: map-get($fontsize, 'h2');
	margin: 1rem;
	font-weight: bold;
}


body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('http://www.entertainmentmaine.com/wp-content/uploads/2017/05/seamless_paper_texture.png');
}

.container {
	max-width: 1500px;
	margin: auto;
	@media screen and (min-width: 601px) {
		padding: 0 1rem;
	}
}
p {
	padding: .5rem;
}

i {
	color: #000;
}

a {
	color: #888;
	font-style: italic;
}

// Global styling rules for images in posts
	img.alignright { float: right; margin: 0 0 1em 1em; }
	img.alignleft { float: left; margin: 0 1em 1em 0; }
	img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
	.alignright { float: right; }
	.alignleft { float: left; }
	.aligncenter { display: block; margin-left: auto; margin-right: auto; }
	.wp-caption {
		display: inline-block !important;
	}
@media screen and (max-width: 600px) {
	.alignright, .alignleft, .aligncenter, img.alignright, img.alignleft, img.aligncenter {
		width: 100%;
		float: none;
		margin: 1rem auto;
		display: block !important;
		position: relative;
		img {
			width: 100%;
		}
	}
}
